<div class="banner banner-background-image">
  <div class="container">
    <h1>Create <strong>your top movie lists</strong>!</h1>
    <p>Find your top netflix and chill movies</p>
    <%= link_to 'Create list', new_list_path, class: "btn btn-gradient" %>
  </div>
</div>

<div class="container">
  <h1>Lists</h1>
  <ul>
    <% @lists.each do |list| %>
      <%= link_to list do %>
        <div class="card-trip">
            <% if list.photo.attached?%>
              <%= cl_image_tag list.photo.key %>
            <% end %>
            <div class="card-trip-infos">
              <div>
              <h2><%= list.name %></h2>
              </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </ul>
</div>
